<p id="notice"><%= notice %></p>

<h1><%= @political_party.name %></h1>

<h3><%= @political_party.type %></h3>
<ul id="detalle-presentismo" class="clearfix">
    <li><%= @political_party.summarizedCountSignedProjects %>
    <span class="tipo-de-dato">Proyectos Firmados</span></li>
    
    <li><%= number_to_percentage(@political_party.countPresentPercentage * 100.0, :precision => 0, :separator => ',') %>
    <span class="tipo-de-dato">Presentes (<%= @political_party.countPresent %>)</span></li>
    
    <li> <%= number_to_percentage(@political_party.countAbsencePercentage * 100.0, :precision => 0, :separator => ',') %>
    <span class="tipo-de-dato">Ausencias (<%= @political_party.countAbsence  %>)</span></li>
    
    <li><%= number_to_percentage(@political_party.countLicensePercentage * 100.0, :precision => 0, :separator => ',') %>
    <span class="tipo-de-dato">Licencias (<%= @political_party.countLicense %>)</span></li>
    
    
    <li class="ultimo"><%= number_to_percentage(@political_party.countOfficialMissionPercentage * 100.0, :precision => 0, :separator => ',') %>
    <span class="tipo-de-dato">Misiones Oficiales (<%= @political_party.countOfficialMission %>)</span></li>

</ul>

<div class="legisladores-por-bloque">
  <%= render :partial => 'shared/politicians', :locals => {:personas => @miembros }%>
</div>

