<h3>Por Bloque</h3>
  <ul class="bloques">
  <% if request.path == '/diputados' or request.path == '/senadores' %>
    <li class="elegido">Todos</li>
  <% else %>
    <li><a href="./">Todos</a></li>
  <% end %>
  <% bloques.each do |bloque| %>
    <% if defined?(@filter) && @filter[:bloques] && @filter[:bloques].include?(bloque.to_s) %>
      <li class="elegido"><%= bloque %>&nbsp;<i>(<%= bloque.miembros.count %>)</i></li>
    <% else %>
        <li><a href="./filtrar_por?bloques=<%= bloque %>"><%= bloque %></a>&nbsp;<i>(<%= bloque.miembros.count %>)</i></li>
    <% end %>
  <% end %>
    
    
  </ul> 