<table class="lista-funcionarios">
  <tr>
    <th>Nombre</th>
    <th>Presencia (%)</th>  
    <th>Presencias</th>
    <th>Ausencias</th>        
  </tr>

<% personas.each do |persona| %>
  <tr>
    <td class="nombre"><%= link_to "#{persona.lastName}, #{persona.name}", persona %></td>
    <td class="presentismo"><%= number_to_percentage(persona.countPresentPercentage.to_f * 100.0, :precision => 2, :separator => ',', :strip_insignificant_zeros => true) %></td>        
    <td class="presente"><%= persona.countPresent %></td>
    <td class="ausente"><%= persona.absent %></td>    
  </tr>
<% end %>
</table>

<%= will_paginate personas %>


<%= raw page_entries_info personas, :entry_name => 'Legisladores' %>