<table class="lista-funcionarios">
  <tr>
    <th>Nombre</th>
    <th>Presencia (%)</th>  
    <th>Presencias</th>
    <th>Ausencias</th>        
    <th></th>
  </tr>

<% personas.each do |persona| %>
  <tr>
    <td class="nombre"><%= "#{persona.lastName}, #{persona.name}" %></td>
    <td class="presentismo"><%= number_to_percentage(persona.countPresentPercentage.to_f * 100, :precision => 2) %></td>        
    <td class="presente"><%= persona.countPresent %></td>
    <td class="ausente"><%= persona.absent %></td>    
    <td><%= link_to 'Show', persona %></td>
  </tr>
<% end %>
</table>

<%= will_paginate personas %>


<%= raw page_entries_info personas, :entry_name => 'Legisladores' %>