<div id="perfil-legislador">
    <div id="informacion-personal" class="clearfix">
        <% if politician.photoPath %>
            <%= image_tag politician.photoPath, :alt => politician.name, %>
            <% end %>

            <h1><%= "#{politician.lastName}, #{politician.name}" %></h1>
            <dl>
	            <dt>Email:</dt><dd><%= politician.mail %> </dd>

                <% if politician.partido %>
                <dt>Partido: </dt><dd><%= politician.partido.name %></dd>      
                <% end %>
            </dl>
        </div>
</div>    
<div class="clearfix">
    <div id="votos">
        <h2>Votos</h2>
        <%= render :partial => 'shared/votes', :locals => {:votes => politician.votes}%>
    </div>
    <%= render :partial => 'shared/twitter'%>
</div>