<p id="notice"><%= notice %></p>

<h1><%= display_project_title(@project) %></h1>  

<h2>Sumario</h2>
<div class="summary">
  <%= display_project_summary(@project) %>
</div>

<% if @project.documentURL %>
  Archivo relacionado: <%= @project.documentURL %>
<% end %>

<h2>Detalles</h2>
Archivo: <%= @project.file %> <br/>
Iniciado: <%= @project.initiated %> <br/>
Fuente del Proyecto: <%= @project.projectSource %> <br/>

<h2>Votación</h2>

<%if @project.votes.count == 0 %>
  <h3>(Todavía no se votó)</h3>
<% else %>
 <table class="tabla-funcionarios">
    <thead>
          <th>Cómo Votó</th>
          <th>Nombre</th>
          <th>Bloque</th>
    </thead> 
    <% @project.votes.each do |vote| %>
    <tr class="<%= vote.voteType.downcase %>">
        <td><%= display_vote_type(vote.voteType) %></td>
        <td><%= link_to "#{vote.legislador.full_name}", vote.legislador %></td> 
        <td><%=vote.partido ? vote.partido.name : "?" %> </td>
    </tr>
    <% end %>
  </table>
<% end%>
