<p id="notice"><%= notice %></p>

<h1>Título: <%= display_project_title(@project) %></h1>  

<h2>Sumario</h2>
<div class="summary">
  <%= display_project_summary(@project) %>
</div>

<% if @project.documentURL %>
  Archivo relacionado: <%= @project.documentURL %>
<% end %>

<h3>Detalles</h3>
Archivo: <%= @project.file %> <br/>
Iniciado: <%= @project.initiated %> <br/>
Fuente del Proyecto: <%= @project.projectSource %> <br/>

<h4>Votación</h4>

<%if @project.votes.count == 0 %>
  (Todavía no se votó)
<% else %>
  <ul>
    <% @project.votes.each do |vote| %>
      <li class="<%= vote.voteType.downcase %>">Legislador: <%= link_to "#{vote.legislador.full_name}", vote.legislador %> (Partido: <%=vote.partido ? vote.partido.name : "?" %>). Voto: <%= display_vote_type(vote.voteType) %></li>
    <% end %>
  </ul>
<% end%>
