<div class="twelvecol">
  <div id="objetivo-proyecto" class="twelvecol">
    <h1>Contribuimos con la transparencia de la actividad legislativa argentina</h1>
    <p>Estamos <strong>facilitando el acceso a la informaci&oacute;n</strong> que publica en Internet el Congreso de la Naci&oacute;n y <strong>construyendo un espacio de di&aacute;logo</strong> para los periodistas, investigadores, militantes y todas las personas interesadas en participar m&aacute;s activamente de la vida democr&aacute;tica</p>
  </div>
  <div class="eightcol">
    <ul id="estadisticas-generales">
      <li>
        <strong class="dato"><%= number_with_delimiter(@projects_count) %></strong>
        <a href="/projects/" class="tipo-de-dato">Proyectos</a>
      </li>
      <li>
        <strong class="dato"><%= number_with_delimiter(@diputados_count) %></strong>
        <a href="/diputados/" class="tipo-de-dato">Diputados</a>
      </li>
      <li>
        <strong class="dato"><%= number_with_delimiter(@senadores_count) %></strong>
        <a href="/senadores/" class="tipo-de-dato">Senadores</a>
      </li>
      <li>
        <strong class="dato"><%= number_to_percentage(@present_percentage, :precision => 2) %></strong>
        <span class="tipo-de-dato">Presentismo</span>
      </li>
      <li>
        <strong class="dato"><%= number_to_percentage(@positive_votes_percentage, :precision => 2) %></strong>
        <span class="tipo-de-dato">Votos positivos</span>
      </li>
      <li>
        <strong class="dato"><%= number_to_percentage(@negative_votes_percentage, :precision => 2) %></strong>
        <span class="tipo-de-dato">Votos negativos</span>
      </li>
    </ul>
  </div>
  <div id="sidebar" class="fourcol last">
    <h2>Como colaborar</h2>
    <p>Congreso interactivo está impulsado por un grupo de profesionales entusiastas interesados por la transparencia legislativa. No somos una organización sin fines de lucro, pero tampoco buscamos lucrar con el proyecto. Nuevo copy de quienes somos es necesario</p>
  </div>
</div>