<%# encoding: UTF-8 %>

<!DOCTYPE html>
<html>
<head>
  <title>Congreso Interactivo</title>
  <link rel="author" href="humans.txt" />
  <%= stylesheet_link_tag :all %>  
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.colorbox-min.js", "modales.js", "chosen.jquery.min.js", 'css3-mediaqueries.js','jquery.dataTables.min.js', "application.js", "columnizer.js" %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= request.path == '/' ? 'home' : '' %>" >
<div class="container">
    <div class="row">
        <div id="header" class="twelvecol">
              <% if request.path == '/' %>
              <h1 class="logo"><a href="/"><span>Congreso Interactivo</span></a></h1>
              <% else %>
              <div class="logo"><a href="/"><span>Congreso Interactivo</span></a></div>
              <% end %>
            <div id="nav">
                <ul class="clearfix">
                    <li class="bloques"><a href="/bloques/" class="<%= request.path == '/bloques' ? "active" : "" %>" >Bloques</a></li>
                    <li class="senadores"><a href="/senadores/" class="<%= params[:controller] == 'senators' ? "active" : "" %>" >Senadores</a></li>
                    <li class="diputados"><a href="/diputados/" class="<%= params[:controller] == 'diputados' ? "active" : "" %>" >Diputados</a></li>
                    <li class="proyectos"><a href="/projects/" class="<%= params[:controller] == 'projects' ? "active" : "" %>" >Proyectos</a></li>                    
                </ul>
            </div>
       </div>
    </div>
    <div class="row">
      <div id="main-content" class="twelvecol">
        <%= yield %>
      </div>
    </div>
    <div class="row">
        <div id="footer" class"twelvecol last">
          <p><strong>Congreso Interactivo 2011</strong> <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/ar/"><img src="http://i.creativecommons.org/l/by-nc-sa/2.5/ar/80x15.png"/></a></p>
            <ul class="clearfix">
                <li><a href="/quienes-somos">Quienes somos</a></li>
                <li><a href="#">Metodología</a></li>
                <li><a href="https://github.com/etagwerker/ci-web/">GitHub</a></li>
                <li><a id="form-sumate" href="https://docs.google.com/spreadsheet/embeddedform?formkey=dFRmSjdsTkxoallYYmdDNjUtVlllZ3c6MQ">Sumate</a></li>
            </ul>
        </div>
      </div>
<%= render :partial => 'shared/feedback'%>
<%= render :partial => 'shared/analytics'%>
</body>
</html>
