<%# encoding: UTF-8 %>

<!DOCTYPE html>
<html>
<head>
  <title>Congreso Interactivo</title>
  <link rel="author" href="humans.txt" />
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "../javascripts/jquery-ui-1.8.16.custom/css/ci-theme/jquery-ui-1.8.16.custom.css" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.colorbox-min.js", "modales.js", "chosen.jquery.min.js", 'css3-mediaqueries.js','jquery.dataTables.min.js', "application.js", "columnizer.js", "jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js" %>
  <%= csrf_meta_tag %>
</head>
<%if request.path == '/' %>
<body id="home">
<%else%>
<body>
<%end%>
<div class="container">
    <div class="row">
        <div id="header" class="twelvecol">
              <% if request.path == '/' %>
              <h1 class="logo"><a href="/"><span>Congreso Interactivo</span></a></h1>
              <% else %>
              <div class="logo"><a href="/"><span>Congreso Interactivo</span></a></div>
              <% end %>
            <div id="nav">
                <ul class="clearfix">
                   <li class="inicio<%= request.path == '/' ? " active" : "" %>">
                     <a href="/" >Inicio</a>
                   </li>
                   <li class="proyectos<%= params[:controller] == 'projects' ? " active" : "" %>">
                     <a href="/projects/">Proyectos</a>
                    </li>                    
                   <li class="senadores<%= params[:controller] == 'senators' ? " active" : "" %>">
                     <a href="/senadores/">Senadores</a>
                   </li>
                   <li class="diputados<%= params[:controller] == 'diputados' ? " active" : "" %>">
                     <a href="/diputados/">Diputados</a>
                   </li>
                   <li class="bloques<%= params[:controller] == 'political_parties' ? " active" : "" %>">
                      <a href="/bloques/">Bloques</a>
                   </li>
                </ul>
            </div>
            
            <form method="get" action="http://www.google.com/search" id="buscar" >
              <input type="text" name="q" maxlength="255" value="Proyectos de ley, senadores, diputados" class="input-text" />
              <input type="submit" value="Buscar" class="input-button" />
              <input type="hidden" name="domains" value="*.congresointeractivo.org" />
              <input style="visibility:hidden" type="radio" name="sitesearch" value="*.congresointeractivo.org" checked="checked" />
            </form>
            
       </div>
    </div>
    <div class="row">
      <div id="main-content" class="twelvecol">
        <%= yield %>
      </div>
    </div>
    <div class="row">
        <div id="footer" class"twelvecol last">
          <p><strong>Congreso Interactivo 2011</strong> <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/ar/"><img src="http://i.creativecommons.org/l/by-nc-sa/2.5/ar/80x15.png"/></a></p>
            <ul class="clearfix">
                <li><a href="/quienes-somos">Quienes somos</a></li>
                <li><a href="#">Metodolog&iacute;a</a></li>
                <li><a href="https://github.com/congresointeractivo/ci-web/">GitHub (para desarrolladores)</a></li>
                <li><a id="form-sumate" href="https://docs.google.com/spreadsheet/embeddedform?formkey=dFRmSjdsTkxoallYYmdDNjUtVlllZ3c6MQ">Sumate</a></li>
            </ul>
        </div>
      </div>
<%= render :partial => 'shared/feedback'%>
<%= render :partial => 'shared/analytics'%>
</body>
</html>
