<!DOCTYPE html>
<html>
<head>
  <title>Congreso Interactivo</title>
  <link rel="author" href="humans.txt" />
  <%= stylesheet_link_tag :all %>  
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "chosen.jquery.min.js", 'css3-mediaqueries.js','jquery.dataTables.min.js', "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= request.path == '/' ? 'home' : '' %>" >
<div class="container">
    <div class="row">
        <div id="header" class="twelvecol">
              <% if request.path == '/' %>
              <h1 class="logo"><a href="/"><span>Congreso Interactivo</span></a></h1>
              <% else %>
              <div class="logo"><a href="/"><span>Congreso Interactivo</span></a></div>
              <% end %>
            <div id="nav">
                <ul class="clearfix">
                    <li class="bloques"><a href="/bloques/" class="<%= request.path == '/bloques' ? "active" : "" %>" >Bloques</a></li>
                    <li class="senadores"><a href="/senadores/" class="<%= params[:controller] == 'senators' ? "active" : "" %>" >Senadores</a></li>
                    <li class="diputados"><a href="/diputados/" class="<%= params[:controller] == 'diputados' ? "active" : "" %>" >Diputados</a></li>
                </ul>
            </div>
       </div>
    </div>
    <div class="row">
      <div id="main-content" class="twelvecol">
        <%= yield %>
      </div>
    </div>
    <div class="row">
        <div id="footer" class"twelvecol last">
            <ul class="clearfix">
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Datos públicos</a></li>
                <li><a href="#">Creative Commons</a></li>
                <li><a href="#">Git-Hub</a></li>
            </ul>
        </div>
      </div>
<%= render :partial => 'shared/feedback'%>
<%= render :partial => 'shared/analytics'%>
</body>
</html>
