<!DOCTYPE html>
<html>
<head>
  <title>Congreso Interactivo</title>
  <link rel="author" href="humans.txt" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">  
  <div id="header" class="clearfix">
    <h1 class="logo">Congreso Interactivo</h1>
    <div id="nav">
        <ul class="clearfix">
            <li class="bloques"><a href="/bloques" class="<%= request.path == '/bloques' ? "active" : "" %>" >Bloques</a></li>
            <li class="senadores"><a href="/senadores" class="<%= request.path == '/senadores' ? "active" : "" %>" >Senadores</a></li>
            <li class="diputados"><a href="/diputados" class="<%= request.path == '/diputados' ? "active" : "" %>" >Diputados</a></li>
        </ul>
    </div>
  </div>
  <div id="main-content">
    <%= yield %>
  </div>
</div>
</body>
</html>
